@model IEnumerable<ModernyzeWebsite.Models.UserAccount>

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User Admin Panel</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (UserAccount item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @using (Html.BeginForm("Verify", "User", FormMethod.Post)) {
                    @Html.Hidden("userID", item.Id)
                    <input type="submit" class="btn btn-success" value="Verify"/>
                }
                @using (Html.BeginForm("MakeAdmin", "User", FormMethod.Post)) {
                    @Html.Hidden("userID", item.Id)
                    <input type="submit" class="btn btn-warning" value="Make Administrator"/>
                }
            </td>
        </tr>
}
    </tbody>
</table>
